:root{
  scroll-behavior: smooth;
}
body {

    font-family: Arial, sans-serif;
    background-image: url('https://res.cloudinary.com/nihars3/image/upload/v1696232927/photo-1619429858348-2d5ad1547e6c_nnvynb.jpg');
    background-attachment: fixed;
}